@import "base/extends";
@import "base/animations";
@import "base/forms";
@import "base/fonts";
@import "base/glow";

@import "module/Loading";
@import "module/Login";
@import "module/PageHeader";
@import "module/Signup";

@import "state/Navbar";

$featured-fill: #c24630;
$tab-fill: rgba(#c59857, 0.9);
$light-blue-fill: #A6B7B8;
$dark-blue-fill: #6D8A8C;
$white-blue-fill: #c6d1d2;

body {
  width: 1920px;
  height: 1080px;
  overflow: hidden;
  background-color: #000;
  background-image: url('/images/background.png');
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Chrome/Safari/Opera */
  -khtml-user-select: none; /* Konqueror */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently not supported by any browser */
  font-family: 'museo700', sans-serif;

  /* Hide cursor */
  cursor: none;

}

img {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
}

.noselect {
}

.ExhibitComponents,
.ViewExhibitComponent,
.EditExhibitComponent,
.Videos,
.NewVideo {
  background-color: #FFF;
  padding: 0 40px 40px 40px;

  /* Hide cursor */
  /*cursor: default !important;*/

}

/**
 * Selection screen - English and Spanish colors
 */
.en{
  color: #dfdfdd;
}

.es{
  color: #f26322;
}

/**
 * Selection screen - Top level headline
 */
h1 {
  text-align: center;
}

h1 div.en {
  margin-top: 102px;
}

h1 div.en,
h1 div.es {
  line-height: 70px;
  font-size: 65px;
}

h1 div.es {
  font-size: 58px;
}

/**
 * Util container for wrapping jsx
 */
 .clean {
  position: absolute;
  top: 0px;
  left: 0px;
  margin: 0px;
  padding: 0px;
 }

/**
 * Selection screen - Video button questions
 */
.video-button h2 {

  position: absolute;
  bottom: 3px;
  left: 80px;
  margin: 0px;
  padding:0px;
  z-index: 7;

  text-overflow: hidden;

  /* Required for text-overflow to do anything */
  white-space: nowrap;
  overflow: hidden;

}

.video-button.active h2 {

  display: none;

}

.video-button h2 div.en,
.video-button h2 div.es {

  margin: 0 0 0 0;
  padding: 4px;
  padding-left: 7px !important;
  line-height: 25px;
  font-size: 18px;
  letter-spacing: 1px;
  font-family: 'museo300', sans-serif;

  background: $tab-fill;
  color: rgba(white, 0.9);

  width: 35px;
  height: 32px;

  text-align: left;
  box-shadow: 0px 0px 12px -1px rgba(0,0,0,0.4);

  transition: height 0.25s 0.15s ease-out, width 0.25s ease-out;

}

h2 div.es {
  display: none;
}

#selection-screen {
  height: 1080px;
  background-color: $white-blue-fill;
}

/* Horizontal break */
.horizontal-break {

  position: absolute;
  top: 20px;
  left: -51%;
  width: 200%;
  margin:0px;

}
.horizontal-break .cls-1 {
  fill: $light-blue-fill;
}

#selection-screen .video-button {

  background-color: none;
  z-index: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 480px;
  height: 270px;
  transform-origin: 0% 0%;

}

#selection-screen .video-button,
#selection-screen .video-button .thumb img,
#selection-screen .video-button .thumb video {

  /* Use hardware acceleration */
  -webkit-transform: translateZ(0);
   -moz-transform: translateZ(0);
   -ms-transform: translateZ(0);
   -o-transform: translateZ(0);
   transform: translateZ(0);
   -webkit-backface-visibility: hidden;
   -moz-backface-visibility: hidden;
   -ms-backface-visibility: hidden;
   backface-visibility: hidden;
   -webkit-perspective: 1000;
   -moz-perspective: 1000;
   -ms-perspective: 1000;
   perspective: 1000;
   -webkit-transform: translate3d(0, 0, 0);
   -moz-transform: translate3d(0, 0, 0);
   -ms-transform: translate3d(0, 0, 0);
   transform: translate3d(0, 0, 0);


}

#selection-screen .video-button:active {

  transform-origin: 50% 50%;
  transform: scale(0.99);
  transition: transform 0.1s ease-out !important;
}

#selection-screen .video-button.disabled {
  opacity: 0.175;
  visibility: hidden;
  pointer-events: none;
}

#selection-screen .video-button .overlay {
  background-color: #000;
  opacity: 0.0;
  transition: opacity 1s 0.8s ease-in-out;

}

#selection-screen .video-button.diminish {
  z-index: 1;
}

#selection-screen .video-button.diminish .overlay {
  opacity: 0.6;
  transition: opacity 0.35s ease-out;
}

#selection-screen .instruction-card {
  width: 100%;
  height: 100%;

  text-align: center;
  color: $white-blue-fill;

  transition: opacity 0.6s 0.1s ease-out;
  opacity: 0.0;
  position: absolute;

  z-index: 5;

/*  background: linear-gradient(
                  to bottom,
                  transparent 50%,
                  rgba(#333, 0.15) 51%
              );
  background-size: 100% 4px;*/

  background-color:rgba(#111, 0.975);

  background-image: url('/images/pattern-tooth.png');
  background-repeat: repeat-x;
  background-position: 1% 98.5%;

}

#selection-screen .video-button.active .instruction-card {
  display: none;
}

#selection-screen .instruction-card.active {
  transition: opacity 0.7s 4.0s ease-out;
  opacity: 1.0;
}

.instruction-card .h-break {
  padding-top: 4px;
  clip-path: none !important;
}

#selection-screen .instruction-card h3 {
  font-size: 2.2em;
  padding: 18px 0px 0px 0px;
  margin-left: 50px;
  margin-right: 50px;
  font-family: 'museo700', sans-serif;
  color: white;
}

#selection-screen .instruction-card .sub {
  padding: 14px 0px 0px 0px;
  margin: 0px;
  font-size: 2.0em;
  color: #cfdee0 !important;
  font-family: 'museo300', sans-serif;

}

#selection-screen .video-button .thumb video,
#selection-screen .video-button .thumb img {
  position: absolute;
}
#selection-screen .video-button .thumb video {
  z-index: 1;
}
#selection-screen .video-button .thumb img {
  z-index: 2;
}

#selection-screen .video-button img.dakota {
  width: 480px;
  height: 270px;
  position: absolute;
  transition: opacity 2.5s 9s ease-in !important;
  opacity: 0.0;
  /*display: none;*/
  z-index: 3;
}

#selection-screen .video-button.active img.dakota {
  transition: opacity 0.1s 1.0s ease-in !important;
  opacity: 1.0 !important;
  /*display: inline;*/
}


/* *********************** */
/* Theme - Fullscreen Grid */
/* *********************** */
#selection-screen.theme-fs-grid {

  background: linear-gradient(
                  to bottom,
                  #292929 50%,
                  rgba($white-blue-fill, 0.2) 51%
              );
  background-size: 100% 4px;

  $clip-amount: 0px;
  $clip-round: 11px;
  $clip-pad: 4px;

  $thumb-width: 490px;
  $thumb-height: 270px;

  $cell-width: calc(480px - (#{$clip-amount}*2));
  $thumb-height: 270px;

  $grid-start-left: calc(1920px - (#{$cell-width}*4) - #{$clip-amount});
  $grid-start-top: 0px;

  .thumb-container {
    left: 0px;
    top: 0px;
    position: absolute;
  }

  .video-button,
  .video-button video,
  .video-button img  {

    transition: clip-path 0.2s ease-in;
    clip-path: inset($clip-pad calc(#{$clip-pad} + #{$clip-amount}) $clip-pad calc(#{$clip-pad} + #{$clip-amount}) round #{$clip-round} #{$clip-round});

  }

  .video-button .instruction-card {
    clip-path: inset($clip-pad calc(#{$clip-pad} + #{$clip-amount}) $clip-pad calc(#{$clip-pad} + #{$clip-amount}) round #{$clip-round} #{$clip-round});
  }

  img.static {
    z-index: 1;
  }

  .thumb video{
    z-index: 2;
  }

  .video-button .overlay {
    z-index: 9;
    width: 100%;
    height: 100%;
    position: absolute;

    /*tbox-shadow: inset 0px 0px 16px 14px rgba($white-blue-fill, 0.4);*/

  }

  /* Hide labels */
  .video-button h2 {

    display: none;

  }

  .video-button.active,
  .video-button.active video,
  .video-button.active img  {

    clip-path: inset(0px 0px 0px 0px);

  }

  /* First column of 4x4 grid. */
  /* First column of 4x4 grid. */
  .video-01,
  .video-05,
  .video-09,
  .video-013 {
    left: calc((0 * #{$cell-width} - (#{$clip-pad}*2)) + #{$grid-start-left} + (#{$clip-pad}*2) );
  }

  /* Second column of 4x4 grid. */
  .video-02,
  .video-06,
  .video-010,
  .video-014 {
    left: calc((1 * #{$cell-width} - (#{$clip-pad}*2)) + #{$grid-start-left} + (#{$clip-pad}*2) );
  }

  /* Third column of 4x4 grid. */
  .video-03,
  .video-07,
  .video-011,
  .video-015 {
    left: calc((2 * #{$cell-width} - (#{$clip-pad}*2)) + #{$grid-start-left} + (#{$clip-pad}*2) );
  }

  /* Fourth column of 4x4 grid. */
  .video-04,
  .video-08,
  .video-012,
  .video-016 {
    left: calc((3 * #{$cell-width} - (#{$clip-pad}*2)) + #{$grid-start-left} + (#{$clip-pad}*2) );
  }

  /* First row of 4x4 grid. */
  .video-01,
  .video-02,
  .video-03,
  .video-04 {
    top: calc((0 * #{$thumb-height}) + #{$grid-start-top});
  }

  /* Second row of 4x4 grid. */
  .video-05,
  .video-06,
  .video-07,
  .video-08 {
    top: calc((1 * #{$thumb-height}) + #{$grid-start-top});
  }

  /* Third row of 4x4 grid. */
  .video-09,
  .video-010,
  .video-011,
  .video-012 {
    top: calc((2 * #{$thumb-height}) + #{$grid-start-top});
  }

  /* Fourth row of 4x4 grid. */
  .video-013,
  .video-014,
  .video-015,
  .video-016 {
    top: calc((3 * #{$thumb-height}) + #{$grid-start-top});
  }

}

/* ********************* */
/* Theme - Minnesota Map */
/* ********************* */
#selection-screen.theme-mn-map {

  $clip-amount: 76px;
  $clip-round: 16px;
  $clip-pad: 3px;

  $thumb-width: 480px;
  $thumb-height: 270px;

  $cell-width: calc(480px - (#{$clip-amount}*2));
  $thumb-height: 270px;

  $grid-start-left: calc(1919px - (#{$cell-width}*4) - #{$clip-amount});
  $grid-start-top: 0px;

  .video-button,
  .video-button video,
  .video-button img  {

    transition: clip-path 0.2s ease-in;
    clip-path: inset($clip-pad calc(#{$clip-pad} + #{$clip-amount}) $clip-pad calc(#{$clip-pad} + #{$clip-amount}) round #{$clip-round} #{$clip-round});

  }

  /* Chaska/Wayzata exceptions to center place name */
  .video-button.Chaska video,
  .video-button.Chaska img,
  .video-button.Wayzata video,
  .video-button.Wayzata img {

    float: right;
    padding-right: $clip-amount;

  }

  .instruction-card {

    display: none;

  }

  /* Featured cell */
  .video-button .overlay {

    z-index: 6;
    width: 100%;
    height: 100%;
    position: absolute;
    transition: all 0.2s ease-out;

    outline: 5px solid $light-blue-fill;
    outline-offset: -5px;

    box-shadow: inset 0px 0px 16px 14px rgba($dark-blue-fill, 0.3);

  }

  .video-button.featured .overlay {

    transition: all 0.15s ease-out;
    background-color: rgba(255,255,255,0.1);

    outline: 5px solid $featured-fill;

    box-shadow: inset 0px 0px 16px 14px $featured-fill;

  }

  .video-button.active .overlay {

    outline: none;
    box-shadow: none;

  }

  /* Call to action tab */
  .video-button.featured h2 div.en,
  .video-button.featured h2 div.es {

    height: 40px;
    width: 178px;
    background: $featured-fill;

    transition: height 0.25s ease-out, width 0.25s 0.4s ease-out;

  }

  .video-button .feed {

    transition: transform 0.7s 0.05s linear, padding 0.8s linear, float 0.8s linear;
    transform: scale(1,1);
    padding: 0px;

  }

  .video-button.featured .feed {

    transition: transform 0.8s 0.4s linear, padding 0.8s linear, float 0.8s linear;
    transform: scale(1.04,1.04);

  }

  .video-button.featured.cam-float-left .feed {

    float: right;

  }

  .video-button.featured.cam-float-right .feed {

    float: right;

  }

  .video-button.featured.cam-mid .feed {

    transition: padding 1.0s linear, transform 0.8s 0.4s linear;
    padding-left: 0px;
    padding-top: 0px;

  }

  .video-button.featured.cam-left .feed {

    transition: padding 1.1s linear, transform 0.8s 0.4s linear;
    padding-left: 48px;

  }

  .video-button.featured.cam-right .feed {

    transition: padding 1.1s linear, transform 0.8s 0.4s linear;
    padding-right: 48px;

  }

  .video-button.featured.cam-up .feed {

    transition: padding 0.8s linear, transform 0.8s 0.4s linear;
    padding-top: 10px;

  }

  .video-button.featured.cam-down .feed {

    transition: padding 0.8s linear, transform 0.8s 0.4s linear;
    padding-top: -10px;

  }


  .video-button.active,
  .video-button.active video,
  .video-button.active img  {

    clip-path: inset(0px 0px 0px 0px);

  }

  /* First column of 4x4 grid. */
  .video-01,
  .video-05,
  .video-09,
  .video-013 {
    left: calc((0 * #{$cell-width}) + #{$grid-start-left});
  }

  /* Second column of 4x4 grid. */
  .video-02,
  .video-06,
  .video-010,
  .video-014 {
    left: calc((1 * #{$cell-width}) + #{$grid-start-left});
  }

  /* Third column of 4x4 grid. */
  .video-03,
  .video-07,
  .video-011,
  .video-015 {
    left: calc((2 * #{$cell-width}) + #{$grid-start-left});
  }

  /* Fourth column of 4x4 grid. */
  .video-04,
  .video-08,
  .video-012,
  .video-016 {
    left: calc((3 * #{$cell-width}) + #{$grid-start-left});
  }

  /* First row of 4x4 grid. */
  .video-01,
  .video-02,
  .video-03,
  .video-04 {
    top: calc((0 * #{$thumb-height}) + #{$grid-start-top});
  }

  /* Second row of 4x4 grid. */
  .video-05,
  .video-06,
  .video-07,
  .video-08 {
    top: calc((1 * #{$thumb-height}) + #{$grid-start-top});
  }

  /* Third row of 4x4 grid. */
  .video-09,
  .video-010,
  .video-011,
  .video-012 {
    top: calc((2 * #{$thumb-height}) + #{$grid-start-top});
  }

  /* Fourth row of 4x4 grid. */
  .video-013,
  .video-014,
  .video-015,
  .video-016 {
    top: calc((3 * #{$thumb-height}) + #{$grid-start-top});
  }

  /* Left side panel. */
  .left-panel {

    background-color: #333;
    position: absolute;
    overflow: hidden;

    width: 31%;
    height: 100%;
    top: 0px;
    left: 0px;
    margin: 0px;

  }

  .left-panel h1,
  .left-panel h2 {
    text-align: left;
    color: $white-blue-fill;
    margin: 18px 44px;
    letter-spacing: 1px;
  }

  .left-panel h1 {

    padding-top: 13%;
    font-family: 'museo700', sans-serif !important;
    font-size: 40px;

  }

  .left-panel h2 {

    padding: 0px;
    font-family: 'museo300', sans-serif !important;
    margin-top: 16px;

  }

  .left-panel .bottom-card {

    background-color: $light-blue-fill;
    width: 100%;
    height: 75%;
    bottom: 0px;
    left: 0px;
    position: absolute;
    margin: 0;

    background-image: url('/images/pattern-tooth-med.png');
    background-repeat: repeat-x;
    background-position: bottom;

  }

  .left-panel .featured-label {

    font-family: 'museo300', sans-serif !important;
    color: $featured-fill;
    line-height: 22px;
    font-size: 56px;
    letter-spacing: 1px;

    transition: opacity 0.5s ease-out;
    opacity: 0.0;
    visibility: hidden;

  }

  .left-panel .featured-label.active {

    opacity: 1.0;
    visibility: visible;

  }

  .left-panel .bottom-card .state-container {

    background-color: $dark-blue-fill;
    width: 100%;
    height: 74%;
    top: 0px;
    left: 0px;
    position: absolute;
    overflow: hidden;
    margin: 0;

  }

  /* Right side container */
  .thumb-container {


    height: 100%;
    width: 1326px;
    right: 0px;
    top: 0px;
    float: right;

    border-left: solid 6px $white-blue-fill;

    background: linear-gradient(
                  to bottom,
                  transparent 50%,
                  rgba($white-blue-fill, 0.25) 51%
              );

    background-color: white;

    background-size: 100% 4px;

  }

  .featured-label {
    text-align: center;
    bottom: 14%;
    position: absolute;
    width: 100%;
    color: $featured-fill;
    font-family: 'museo300', sans-serif !important;
  }

}

/**
 * MN Map
 */
.state-outline {
  position: absolute;
  top: 25px;
  left: 17px;
  width: 92%;
}

.state-outline {
  .cls-1 {
    fill:rgba(#333, 1.0);
    stroke:rgba(245,245,245,0.35);
    stroke-miterlimit:10;
    stroke-width:12px;
    transition: all 0.6s ease-in-out;
  }
  .cls-1.featured {
    stroke:$featured-fill;
  }
  .cls-2 {
    fill: transparent;
    transform-origin: 50% 50%;
    transform: scale(1.0,1.0);

    transition: all 0.1s ease-out;
  }
  .cls-2.featured {

    fill:$featured-fill;
    fill: #b54936;
    stroke-width:0px;
    stroke:$dark-blue-fill;
    transform:scale(7.5, 7.5);

  }
  .cls-3 {

    font-size: 16px;
    fill: #FFF;

    font-family: 'museo300', sans-serif;
    fill: rgba(white, 0.9);

    transition: all 0.5s ease-out !important;

  }
  .cls-3.featured {

    font-size: 36px;
    fill: #FFF;
    box-shadow: 11px 1px 3px rgba(255, 255, 255, 0.9);

  }

  /* Zoom component */
  .z-container {
    transform: translate(510px, 450px);
  }
  .z-cls-1 {
    fill: transparent;
    transform-origin: 50% 50%;
    transform: scale(1.0,1.0);

    transition: all 0.1s ease-out;
  }
  .z-cls-1.featured {

    fill:$featured-fill;
    stroke-width:0px;
    stroke:$dark-blue-fill;
    transform:scale(7.5, 7.5);

  }
  .z-cls-2 {
    fill:rgba(#333, 1.0);
    stroke:rgba(245,245,245,0.35);
    stroke-miterlimit:10;
    stroke-width:12px;
    transition: all 0.6s ease-in-out;
  }
  .z-cls-2.featured {
    stroke:$featured-fill;
  }
  .z-cls-3 {
    font-size: 20px;
    font-family: 'museo300', sans-serif;
    fill: rgba(white, 0.9);
    transition: all 0.75s ease-out !important;
  }
  .z-cls-3.featured {
    font-size: 48px;
    fill: #FFF;
    box-shadow: 11px 1px 3px rgba(255, 255, 255, 0.9);
    transition: all 0.75s ease-out !important;
    opacity: 1.0;
  }
  .z-cls-4 {
    fill:none;
    stroke:$white-blue-fill;
    stroke-miterlimit:10;
    stroke-width:12px;
  }
  .z-cls-5 {
    fill:$white-blue-fill;
    stroke:none;
    stroke-miterlimit:10;
  }
}

/* Home btn version of state svg */
.state-outline.home {

  left: 49px;
  top: -84px;
  width: 160px;

  .cls-1{
    /*stroke:$dark-blue-fill;*/
    stroke-width:9px;
    fill:rgba(#f1f9fb, 0.8);
  }
  .cls-1.featured {
    stroke-width:14px;
  }

}

.home-fade-enter {
  opacity: 0.01;
}

.home-fade-enter.home-fade-enter-active {
  opacity: 1.0;
  transition: opacity 3.5s 4.25s ease-in;
}

.home-fade-leave {
   opacity: 0.0;
   transition: opacity 3.3s ease-out;
}


/**
 * Video player
 *
 * Starts out transparent and gets animated in on a play event.
 */
.video-player {
  position: absolute;
  top:0;
  left:0;
  width: 1920px;
  height: 1080px;
  z-index: 3;
  opacity: 1;
}

.video-player.playing {
  opacity: 0.1;
}

.player-fade-enter {
  opacity: 0.01;
}

.player-fade-enter.player-fade-enter-active {
  opacity: 1.0;
  transition: opacity 0.5s 0.25s ease-in;
}

.player-fade-leave {
   opacity: 0.0;
   transition: opacity 0.3s ease-out;
}

.home-button {
  position: absolute;
  bottom: 0;
  left: 0;
  text-align: center;
  margin: 0;
  padding: 42px 85px 42px 41px;

  /* Hide cursor */
  cursor: none;

}

.home-button img {
  width: 60px;
  opacity: 0.0;
  visibility: hidden;
  transition: all .1s ease-out;

  /* Hide cursor */
  cursor: none;

}

.home-button svg {
  transition: transform .1s ease-out, opacity 0.6s ease-out;

  opacity: 1.0;
  /* Hide cursor */
  cursor: none;

}

.home-button:active svg {
  transform: scale(0.96);
}

.home-button.fade svg {
  opacity: 0.0;
}

.looping-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 1920px;
  height: 1080px;
  z-index: -1;
}

.screensaver {
  position: absolute;
  top: 0;
  left: 0;
  width: 1920px;
  height: 1080px;
  z-index: 4;
}


/**
 * CCTV Scan Lines
 */
$scan-width: 2px;

/* emulates a damage-your-eyes bad pre-2000 CRT screen ♥ (true, false) */
$scan-crt: false;

/* frames-per-second (should be > 1), only applies if $scan-crt: true; */
$scan-fps: 30;

$scan-color: rgba($white-blue-fill, .1);
$scan-color-heavy: rgba($white-blue-fill, .2);
$scan-z-index: 4;

/* Moving scanline (true, false) */
$scan-moving-line: true;

/* Opacity of the moving scanline */
$scan-opacity: 0.95;

/* Apply CRT animation: @include scan-crt($scan-crt); */
@mixin scan-crt($scan-crt) {
    @if $scan-crt == true {
        animation: scanlines 1s steps($scan-fps) infinite;
    }
    @else { animation: none; }
}

/* Apply CRT animation: @include scan-crt($scan-crt); */
@mixin scan-moving($scan-moving-line) {
    @if $scan-moving-line == true {
        animation: scanline 1.67s linear infinite;
    }
    @else { animation: none; }
}

/* CCTV scan lines */
.theme-mn-map .scanlines {
    position: relative;
    overflow: hidden;

    &:before,
    &:after {
        display: block;
        pointer-events: none;
        content: '';
        position: absolute;
    }

    &:after {
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: $scan-z-index;
        background: linear-gradient(
            to bottom,
            transparent 50%,
            $scan-color 51%
        );
        background-size: 100% $scan-width*2;
        @include scan-crt($scan-crt);
    }
}

/* More active version of scan lines */
.theme-mn-map .featured.scanlines {

  /* Scanline traveling on the screen */
  &:before {
    width: 100%;
    height: $scan-width * 1;
    z-index: $scan-z-index + 1;
    background: $scan-color;
    opacity: $scan-opacity;
    @include scan-moving($scan-moving-line);
  }

  &:after {

        background: linear-gradient(
            to bottom,
            transparent 50%,
            $scan-color-heavy 51%
        );
        background-size: 100% $scan-width*2;
        @include scan-crt($scan-crt);
    }

}

/* Fade scan lines on transition */
.theme-mn-map .scanlines.active {

    &:after {

        background: linear-gradient(
            to bottom,
            transparent 50%,
            transparent 51%
        );

        @include scan-crt($scan-crt);

    }

}

/* Scanline animations */
@keyframes scanline {
  0% {
    transform: translate3d(0,200000%,0);
  }
}

@keyframes scanlines {
  0% {
    background-position: 0 50%;
  }
}
